body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}
.primary-btn {
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.primary-btn:hover,
.primary-btn:active {
  background-color: #2980b9;
}