body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}
.btn {
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 30px;
  padding: 6px 18px;
}
.primary {
  color: #fff;
  background-color: #3498db;
}
.primary:hover,
.primary:active {
  background-color: #2980b9;
}
.secondary{
  color: #fff;
  background-color: #e74c3c;
}
.secondary:hover,
.secondary:active {
  background-color: #c0392b;
}